{
"clientType" : "AsterixdbUpdate",
"cc" : "127.0.0.1",
"batch_size" : 5,
"limit" : -1,
"ignore_rounds" : 10,
"dataverse" : "SocialNetworkData",
"dataset" : "GleambookUsers",
"primary_key" : "id",
"operation" : "insert",
"updates_file" : "/tmp/insert.adm",
"stats_file" : "/tmp/stats.txt"
}
